* {
  box-sizing: border-box;
}
@import "reset";

@import "modules/mixin";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/transactions";
@import "modules/mypages";
@import "modules/logout";
@import "modules/payments";

@import "modules/toppages";
@import "modules/header";
@import "modules/footer";
@import "modules/purchaseBtn";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "modules/new_items";

